npm-debug.log
.idea/*
*.jar
.*.swp
._*
.DS_Store
.git
.idea
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
node_modules/*
node_module/.bin/*
bin/templates/Pods/
bin/templates/Podfile.lock
